Repository renat2006/tat-bu-2025-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/optimize-images.js, svgo --config .svgrc.json

Update linting and image optimization configurations; add husky pre-commit hooks for linting and building, and introduce svgo configuration for SVG optimization
  .husky/_/husky.sh
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  svgo.config.json
Due: none

Add pre-commit hooks to clean and optimize images before linting and building
  .husky/pre-commit
Due: none

feat(commit): add commitlint configuration and scripts
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs: update readme with project description
  README.md
Due: none

ci: added ci/cd
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: added commit check
  .editorconfig
  .gitattributes
  .github/workflows/commitlint.yml
Due: none

ci: added auto release
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  cliff.toml
Due: none

chore(git): untrack .cursor and add to .gitignore
  .cursor/rules/hackaton-rule.mdc
  .gitignore
Due: none

docs: added bages
  README.md
Due: none

docs: added vercel
  README.md
Due: none

feat(appbar): added appbar component
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/appbar/AppBar.tsx
  src/constants/theme.ts
Due: eslint --fix, prettier --write

feat(card): added card component
  .lintstagedrc.json
  public/squircle.svg
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/Card.tsx
  src/components/ui/index.ts
  src/constants/theme.ts
  svgo.config.mjs
Due: eslint --fix, prettier --write, svgo --config .svgrc.json

feat(header): added header
  public/avatars/man-avatar-2.png
  public/avatars/man-avatar-3.png
  public/avatars/man-avatar.png
  public/logo.svg
  src/app/layout.tsx
  src/components/appbar/BottomNav.tsx
  src/components/appbar/Header.tsx
Due: eslint --fix, prettier --write, node scripts/optimize-images.js, svgo --config .svgrc.json

fix(header): fixed size of avatar
  src/components/appbar/Header.tsx
Due: eslint --fix, prettier --write

feat(appbar): added curle to appbar
  src/components/appbar/BottomNav.tsx
Due: eslint --fix, prettier --write

fix(gallery): added gallery
  src/components/gallery/ImageCard.tsx
Due: eslint --fix, prettier --write

fix(gallery): added gallery
  .gitignore
  public/_optimized/avatars/man-avatar-2.avif
  public/_optimized/avatars/man-avatar-2.webp
  public/_optimized/avatars/man-avatar-3.avif
  public/_optimized/avatars/man-avatar-3.webp
  public/_optimized/avatars/man-avatar.avif
  public/_optimized/avatars/man-avatar.webp
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.webp
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
  src/components/gallery/ImageCard.tsx
Due: eslint --fix, prettier --write

feat(loader): added gallery optimizations and loader
  src/app/gallery/page.tsx
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(loader): added gallery optimizations and loader
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

fix(loader): fix gallery optimizations and loader
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(albuminfomodal): added modal for album
  package-lock.json
  package.json
  src/app/gallery/page.tsx
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageDetailController.tsx
  src/components/gallery/ImageGallery.tsx
  src/components/gallery/index.ts
  src/stores/imageDetailStore.ts
Due: eslint --fix, prettier --write

fix(gallery): deleated title
  src/app/gallery/page.tsx
Due: eslint --fix, prettier --write

feat(modal): updated modal for words
  public/logo.svg
  public/logo_wbg.svg
  src/components/appbar/Header.tsx
  src/components/gallery/Hint.tsx
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageDetailController.tsx
  src/components/gallery/ImageGallery.tsx
  src/components/gallery/index.ts
  src/mocks/albums.ts
  src/mocks/images.ts
  src/stores/imageDetailStore.ts
  src/types/gallery.ts
Due: eslint --fix, prettier --write, svgo --config .svgrc.json

feat(ling): added tatar
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
  src/mocks/albums.ts
Due: eslint --fix, prettier --write

feat(ling): added skeleton
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(ling): added skeleton
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(ling): fix app on android
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
  src/hooks/useIsAndroid.ts
Due: eslint --fix, prettier --write

feat(ling): fix app on android
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageDetailController.tsx
  src/components/gallery/ImageGallery.tsx
  src/hooks/useIsMounted.ts
Due: eslint --fix, prettier --write

feat(ling): fix app on android
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/utils/images.ts
Due: eslint --fix, prettier --write

feat(ling): fix app on android
  package-lock.json
  package.json
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
  src/utils/images.ts
Due: eslint --fix, prettier --write

feat(ling): fix app on android 2
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
  src/app/profile/appearance/page.tsx
  src/app/profile/notifications/page.tsx
  src/app/profile/page.tsx
  src/app/profile/security/page.tsx
  src/components/gallery/ImageCard.tsx
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
  src/mocks/albums.ts
Due: eslint --fix, prettier --write

feat(gallery): optimize images and improve mobile performance
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
Due: none

feat(ling): fix app on android 3
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
  src/app/profile/page.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(ling): fix app on android 4
  src/mocks/albums.ts
Due: eslint --fix, prettier --write

feat(ling): fix app on android 3
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
  src/mocks/albums.ts
Due: eslint --fix, prettier --write

feat(preloader): added ssr
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.avif
  public/_optimized/mock_images/gallery/cistye-gorodskie-ulicy-pragi.webp
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.avif
  public/_optimized/mock_images/gallery/pamatnik-nikolau-i-v-sankt-peterburge-rossia.webp
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.avif
  public/_optimized/mock_images/gallery/para-pod-bol-sim-uglom-v-pohode.webp
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.avif
  public/_optimized/mock_images/gallery/vertikal-nyi-snimok-pod-nizkim-uglom-zdania-so-spilem-v-rube-francia.webp
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.avif
  public/_optimized/mock_images/gallery/zdania-v-starom-gorode-buharesta.webp
  src/components/gallery/ImageDetail.tsx
  src/components/gallery/ImageGallery.tsx
Due: eslint --fix, prettier --write

feat(preloader): added ssr
  src/app/layout.tsx
  src/app/page.tsx
  src/app/profile/appearance/page.tsx
  src/app/profile/notifications/page.tsx
  src/app/profile/page.tsx
  src/app/profile/security/page.tsx
  src/components/layout/AppShell.tsx
  src/components/layout/ClientOnly.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  node scripts/optimize-images.js: any of: public/**/*.{png,jpg,jpeg}
  svgo --config .svgrc.json: any of: public/**/*.svg
